<!--${ajscFile.header.warning}-->
<!-- 
 Copyright (c) 2016 AT&T Intellectual Property. All rights reserved.
-->
<configuration debug="true">
    
    <appender name="Audit-Record-Queue" class="ajsc.JMSQueueAppender">
        <param name="InitialContextFactoryName" value="com.tibco.tibjms.naming.TibjmsInitialContextFactory"/>
        <param name="ProviderURL" value="${ajsc.logbackJMS.auditQ.providerURL}"/>
        <param name="userName" value="${ajsc.logbackJMS.auditQ.userName}"/>
        <param name="password" value="${ajsc.logbackJMS.auditQ.password}"/>
        <QueueBindingName>pub.m2e.AJSC.Audit.logger.queue</QueueBindingName>
    </appender>
    <logger name="AuditRecord" level="INFO" additivity="FALSE">
        <appender-ref ref="Audit-Record-Queue"/>
  	</logger>
  	<appender name="Performance-Tracker-Queue" class="ajsc.JMSQueueAppender">
        <param name="InitialContextFactoryName" value="com.tibco.tibjms.naming.TibjmsInitialContextFactory"/>
        <param name="ProviderURL" value="${ajsc.logbackJMS.perfTrkQ.ProviderURL}"/>
        <param name="userName" value="${ajsc.logbackJMS.perfTrkQ.userName}"/>
        <param name="password" value="${ajsc.logbackJMS.perfTrkQ.password}"/>
        
        <QueueBindingName>pub.m2e.AJSC.Perf.logger.queue</QueueBindingName>
    </appender>
    
    
    <logger name="PerfTrackerRecord" level="INFO" additivity="FALSE">
        <appender-ref ref="Performance-Tracker-Queue"/>
  	</logger>
  	
  	<appender name="Timer-Log-Queue" class="ajsc.JMSQueueAppender">
        <param name="InitialContextFactoryName" value="com.tibco.tibjms.naming.TibjmsInitialContextFactory"/>
        <param name="ProviderURL" value="${ajsc.logbackJMS.timerLogQ.ProviderURL}"/>
        <param name="userName" value="${ajsc.logbackJMS.timerLogQ.userName}"/>
        <param name="password" value="${ajsc.logbackJMS.timerLogQ.password}"/>
        
        <QueueBindingName>pub.m2e.AJSC.Timer.logger.queue</QueueBindingName>
    </appender>
    
    
    <logger name="TimerLogRecord" level="INFO" additivity="FALSE">
        <appender-ref ref="Timer-Log-Queue"/>
  	</logger>
    
</configuration>
