<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Copyright (c) 2016 AT&T Intellectual Property. All rights reserved.
-->
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="cassandra_pu">
		<properties>		
			<property name="Host" value="zltv5025.vci.att.com" />
			<property name="Port" value="9042" />
			<property name="Cluster" value="Test Cluster" />
			<property name="Keyspace" value="grid" />
			<property name="Username" value="gridapp2@aaf.att.com" />
			<property name="Password" value="gritty" />
			<property name="ReadConsistency" value="ONE" />
			<property name="WriteConsistency" value="QUORUM" />
			<property name="ForceColumnFamilyCreation" value="true" />
			<property name="DisableJMX" value="false" />
			<property name="DisableMetrics" value="false" />
			<property name="SSLEnabled" value="false" />
			<property name="LoadBalancingPolicy" value="ROUND_ROBIN"/>
		</properties>
	</persistence-unit>
</persistence>