<!--
    Copyright (c) 2017 AT&T Intellectual Property. All rights reserved.
     
 -->
<configuration scan="true" scanPeriod="3 seconds" debug="false">

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<property resource="application.properties" />
	<property name="namespace" value="${kubernetes.namespace}"></property>

	<property name="defaultPattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} $ threadId: {PID:- } %-5level  namespace:${namespace} %logger{20} [ hostname: %X{hostname} serviceName: %X{serviceName} version: %X{version} transactionId: %X{transactionId} requestTimeStamp: %X{requestTimestamp}  responseTimeStamp: %X{responseTimestamp} duration: %X{duration}] %m%n" />
	<property name="performanceandAuditpattern"
		value="%date{ISO8601,UTC}|%thread|%.-5level|namespace:${namespace}|%logger{20}|%X{ServerIPAddress}|%X{ServerFQDN}|%X{serviceName}| %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${defaultPattern}</pattern>
		</encoder>
	</appender>
	<appender name="performanceandAudit" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${performanceandAuditpattern}</pattern>
		</encoder>
	</appender>

	<logger name="com.att.eelf.perf" level="INFO">
		<appender-ref ref="performanceandAudit" />
	</logger>
	<logger name="com.att.eelf.audit" level="DEBUG">
		<appender-ref ref="performanceandAudit" />
	</logger>
	<logger name="com.att.ajsc" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>