<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2016 AT&T Intellectual Property. All rights reserved.
-->
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd
       http://www.springframework.org/schema/jee 
       http://www.springframework.org/schema/jee/spring-jee.xsd
       ">
  	<!--<bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"/>-->
 	<bean id="loggingConfigurationService" class="ajsc.LoggingConfigurationService" />
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"/>
 	<bean id="persistenceService" class="ajsc.FilePersistenceService" />
 	<bean id="assemblyService" class="ajsc.AssemblyService" />
	<bean id="propertiesService" class="ajsc.PropertiesService" />
	<bean id="vandelayService" class="ajsc.VandelayService" />
	<bean id="userDefinedBeansDefService" class="ajsc.UserDefinedBeansDefService" />
	<bean id="docService" class="ajsc.DocService" />
	<bean id="userDefinedJarService" class="ajsc.UserDefinedJarService" />
	<beans profile="oauth">
	<bean id="clientDataService" class="ajsc.ClientDataService" >
		<property name="dbAdapter"><ref bean="clientDataAdapter"/></property>
	</bean>
	<bean id="clientDataAdapter" class="ajsc.providers.FilePersistenceClient" />
	<bean id="ajscClientDetailsService" class="ajsc.security.oauth2.provider.AjscClientDetailsService" >
		<constructor-arg ref="cassandraConnectionManager" />
	</bean>
	</beans>
	<beans profile="nooauth">
		<bean id="springSecurityFilterChain" class="ajsc.filter.PassthruFilter"/>
	</beans>
	<beans>
	<bean id="computeService" class="ajsc.ComputeService" >
		<property name="restletComponentFactory"><ref bean="restletComponentFactory"/></property>
	</bean>
	<bean id="restletComponent" class="org.restlet.Component" />
	<bean id="restletComponentFactory" class="ajsc.restlet.RestletComponentFactory" />
 
 	
	<bean id="routeMgmtService" class="ajsc.RouteMgmtService">
		<property name="propertiesService"><ref bean="propertiesService"/></property>
		<property name="vandelayService"><ref bean="vandelayService"/></property>
		<property name="persistenceService"><ref bean="persistenceService"/></property>
		<property name="userDefinedBeansDefService"><ref bean="userDefinedBeansDefService"/></property>
		<property name="docService"><ref bean="docService"/></property>
		<property name="userDefinedJarService"><ref bean="userDefinedJarService"/></property>
		<property name="computeService"><ref bean="computeService"/></property>
		<property name="loggingConfigurationService"><ref bean="loggingConfigurationService"/></property>
	</bean>

	<bean id="restletComponentService" class="org.apache.camel.component.restlet.RestletComponent">
		<constructor-arg index="0">
			<ref bean="restletComponent" />
		</constructor-arg>
	</bean>

	<bean id="contextManager" class="ajsc.ContextMgr">
		<property name="rmgr">
			<ref bean="routeMgmtService"/>
		</property>
	</bean>
	
	<!-- <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
	    <property name="beans">
	      <map>
	      each entry into this map represents a MBean interface which references its implementation
	        <entry key="bean:name=AjscMBean" value-ref="ajscMBean"/>
	      </map>
	    </property>
  	</bean>
  	
  	this bean is an implementation of the AjscMBean interface
  	<bean id="ajscMBean" class="jmx.Ajsc" /> -->
	
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<bean id="AJSCPropertiesMap" class="com.att.ajsc.filemonitor.AJSCPropertiesMap" />

	<bean id="AJSCPropertyService" class="com.att.ajsc.filemonitor.AJSCPropertyService">
		<property name="filePropertiesMap" ref="AJSCPropertiesMap" />
	</bean>  
	  <bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
		
	
	<bean id="ServicePropertiesMap" class="ajsc.ServicePropertiesMap" />

	<bean id="ServicePropertyService" class="ajsc.ServicePropertyService">
		<property name="filePropertiesMap" ref="ServicePropertiesMap" />
	</bean>
	<bean id="helloWorld" name="helloWorld"
		class="ajsc.HelloWorld" />
	</beans>
</beans>