<!-- 
 Copyright (c) 2016 AT&T Intellectual Property. All rights reserved.
-->
<configuration scan="true" scanPeriod="3 seconds" debug="false">
	<contextName>${module.ajsc.namespace.name}</contextName>
	<jmxConfigurator />
	<property name="logDirectory" value="${AJSC_HOME}/log" />
	<!-- Example evaluator filter applied against console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
<!-- 		<filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
      		<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
      		<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/Info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logDirectory}/Info-${lrmRVer}-${lrmRO}-${Pid}.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
		</encoder>
	</appender>
	
	<appender name="DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
      		<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/Debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logDirectory}/Debug-${lrmRVer}-${lrmRO}-${Pid}.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
		</encoder>
	</appender>
	
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
      		<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/Error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${logDirectory}/Error-${lrmRVer}-${lrmRO}-${Pid}.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<!-- <pattern>"%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n"</pattern> -->
			<pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
		</encoder>
	</appender>

	<!-- Spring related loggers -->
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.springframework.web" level="WARN" />
	<logger name="com.blog.spring.jms" level="WARN" />

	<!-- AJSC Services (bootstrap services) -->
	<logger name="ajsc" level="WARN" />
	<logger name="ajsc.RouteMgmtService" level="INFO" />
	<logger name="ajsc.ComputeService" level="INFO" />
	<logger name="ajsc.VandelayService" level="WARN" />	
	<logger name="ajsc.FilePersistenceService" level="WARN" />
	<logger name="ajsc.UserDefinedJarService" level="WARN" />
	<logger name="ajsc.UserDefinedBeansDefService" level="WARN" />
	<logger name="ajsc.LoggingConfigurationService" level="WARN" />	
	
	<!-- AJSC related loggers (DME2 Registration, csi logging, restlet, servlet logging) -->
	<logger name="ajsc.utils" level="WARN" />
	<logger name="ajsc.utils.DME2Helper" level="INFO" />
	<logger name="ajsc.filters" level="DEBUG" />
	<logger name="ajsc.beans.interceptors" level="DEBUG" />
	<logger name="ajsc.restlet" level="DEBUG" />
	<logger name="ajsc.servlet" level="DEBUG" />
	<logger name="com.att" level="WARN" />
	<logger name="com.att.ajsc.csi.logging" level="WARN" />
	<logger name="com.att.ajsc.filemonitor" level="WARN" />

	<!-- Other Loggers that may help troubleshoot -->
	<logger name="net.sf" level="WARN" />
	<logger name="org.apache.commons.httpclient" level="WARN" />
	<logger name="org.apache.commons" level="WARN" />
	<logger name="org.apache.coyote" level="WARN" />
	<logger name="org.apache.jasper" level="WARN" />
	
	<!-- Camel Related Loggers (including restlet/servlet/jaxrs/cxf logging. May aid in troubleshooting) -->
	<logger name="org.apache.camel" level="WARN" />
	<logger name="org.apache.cxf" level="WARN" />
	<logger name="org.apache.camel.processor.interceptor" level="WARN" />
	<logger name="org.apache.cxf.jaxrs.interceptor" level="WARN" />
	<logger name="org.apache.cxf.service" level="WARN" />
	<logger name="org.restlet" level="DEBUG" />	
	<logger name="org.apache.camel.component.restlet" level="DEBUG" />

	<!-- logback internals logging -->
	<logger name="ch.qos.logback.classic" level="INFO" />
	<logger name="ch.qos.logback.core" level="INFO" />

	
	
	<root level="WARN">
		<appender-ref ref="DEBUG" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="INFO" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>